/* RESPONSIVE CSS */
/* TABLET */
@media screen and (min-width: 768px) {
    /* layout */
    .smaller-container {
        width: 70%;
        margin: 0 auto;
    }
    
    /* HERO */
    .all-col {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .all-col .col:first-child {
        width: calc(2 * 100% / 3 - 20px);
    }
    
    .col {
        width: calc(100% / 3 - 20px);
    }

    .hero-info {
        display: inline;
    }

    /* TESTIMONIALS */
    .testi-card {
        display: flex;
    }
    .testi-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    /* FEATURES */
    .feat-card {
        width: calc(100% / 2 - 20px);
    }

    .all-feat {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* ABOUT US */
    .info-and-pic {
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
    }

    .info-and-pic .info-text {
        width: 60%;
    }

    .about-pic {
        width: 40%;
    }

    .info-text h2 {
        font-size: 4rem;
    }

    .about-image {
        text-align: center;
    }

    .about-image img {
        width: 80%;
        text-align: center;
    }

    .about-image i {
        font-size: 4rem;
        top: 0;
        right: 10%;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* COMMON */
    /* layout */
    .container {
        width: 70%;
        margin: 0 auto;
    }  

    .smaller-container {
        width: 50%;
        margin: 0 auto;
    }
    /* HEADER */
    .hamburger {
        display: none;
    }

    .nav-head {
        display: block;
        font-size: 0.7rem;
    }

    /* HERO */
    .all-col .col:first-child {
        display: flex;
    }

    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .hero-info {
        width: 60%;
    }

    .img-container {
        width: 45%;
    }

    /* PLANNINGS */
    .plann-types {
        flex-direction: row;
        align-items: flex-end;
        gap: 40px;
    }

    .app-dev-card {
        height: 70%;
        display: flex;
        align-items: end;
    }

    .app-dev-card img {
        width: 70%;
    }

    /* TESTIMONIALS AND FEATURES */
    .info-text {
        width: 100%;
    }

    .testi-card {
        width: 100%;
    }

    .feat-card {
        width: calc(100% / 3 - 20px);
    }
}
