/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}


/* COMMON */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    cursor: pointer;
    color: inherit;
}

/* layout */
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.smaller-container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* HEADER */
header{
    background-color: var(--blue);
    position: fixed;  
    height: 70px;
    width: 100%; 
    line-height: 70px;
    color: white;
    z-index: 999;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo, .hamburger{
    line-height: 70px;
}

.logo{
    display: flex;
    align-items: center;
}

.hamburger{
    color: white;
    font-size: 1.3rem;
}

.nav-head{
    display: none;
}

.nav-head ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-head ul a{
    text-decoration: none;
}

.bttn-hdr{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
}

/* MAIN */


/* HERO */
/* general */
.hero{
    padding-top: calc(var(--headerheight) + 30px);    
    padding-bottom: 20px;
}

.all-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-col p{
    font-size: 0.9rem ;
    line-height: 1.7rem;
}

/* cols */
.col{
    width: 100%;
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 10px;
}

.col h3{
    color: var(--blue);
    font-size: 1.5rem;
}

.col a{
    text-decoration: none;
}

.col img{
    display: block;
}

.col-bttn{
    background-color: var(--blue);
    color: white;
    margin: 25px 0;
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    display: block;
}

.col-bttn i{
    display: inline;
}

.col-img{
    font-size: 5rem;
    color: var(--blue);
}


/* PLANNING */
/* general */
.planning{
    background-color: var(--lilac);
}

.planning p{
    font-size: 0.9rem;
}

.plann-types{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* specific */
.strategic{
    width: 100%;
}

.strategic h2{
    font-size: 2rem;
}


.app-dev-card{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.app-dev-card i{
    padding: 12px 0;
}

.app-dev-card p{
    font-style: italic;
}

.app-dev-card a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--lilac);
    border-radius: 50%;
    margin-bottom: 30px;
}

.app-dev-wrap{
    width: 90%;
    margin: 0 auto;
}

/* TESTIMONIALS */
/* general */
.testimonials p{
    font-size: 0.9rem;
}

.all-testi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* specific */
.testi-copy h2{
    font-size: 2rem;
}
.testi-card{
    background-color: var(--lilac);
    border-radius: 20px;
    width: 100%;
    margin: 10px;
}

.testi-card img{
    width: 70%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.testi-text i{
    font-size: 1.3rem;
}

/* FEATURES */
/* general */
.features{
    background-color: var(--lilac);
}

.features p{
    font-size: 0.9rem;
    line-height: 1.7rem;
}

.all-feat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* specific */
.feat-text h2{
    font-size: 2rem;
}

.feat-card{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
    padding: 0 20px;
}

.feat-card h2{
    font-size: 3rem;
}

.feat-card a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--lilac);
    border-radius: 20px;
    padding: 10px 50px;
}

/* ABOUT US */
/* general */
.about-us{
    margin: 40px 0;
}

.info-and-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pic{
    margin-bottom: 20px;
}

/* specific */
.info-text h2{
    font-size: 2rem;
}

.info-text p{
    font-size: 0.9rem;
    padding-bottom: 40px;
    line-height: 2rem;
}

.about-pic h3{
    line-height: 2rem;
}

.about-pic img{
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    display: inline-block;
}

.about-image{
    position: relative;
}

.about-image i{
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 50%;
    color: var(--lilac);
}

.about-bttn{
    background-color: var(--lilac);
    color: white;
    padding: 5px 0;
    border-radius: 20px;
    text-align: center;
    width: 70%;
    display: block;
}

.about-bttn i{
    display: inline;
}

.about-bttn a{
    font-size: 0.9rem;
    text-decoration: none;
}

/* FOOTER */
/* general */
.get-started{
    background-color: var(--lilac);
}

.c-t-a{
    color: white;
}

.footer-bottom{
    background-color: var(--black);
}

/* specific */
.c-t-a span{
    color: var(--lilac2);
}

.c-t-a h3{
    font-size: 2rem;
}

.c-t-a h2{
    font-size: 4rem;
    color: var(--yellow);
}

.c-t-a :last-child{
    font-size: 0.7rem;
}

#foot-bttn{
    margin: 20px;
    background-color: white;
    color: white;
    margin: 25px 0;
    padding: 20px 50px;
    border-radius: 30px;
    color: var(--lilac);
    letter-spacing: 0.1rem;
}

#foot-bttn a{
    text-decoration: none;
}

#foot-bttn{
    display: inline-block;
}

.copyright p{
    font-size: 0.7rem;
}

.copyright a{
    color: var(--lilac);
}
